<a asp-action="ViewCaseOne" asp-controller="Demo">View Case one </a> <br />
<a asp-action="ViewCaseTwo" asp-controller="Demo">View Case two </a> <br />
<a asp-action="JsonCaseOne" asp-controller="Demo">Json Case one </a> <br />
<a asp-action="JsonCaseTwo" asp-controller="Demo">Json Case two </a> <br />
<a asp-action="RedirectCaseOne" asp-controller="Demo" asp-route-EntityId="-1">Redirect Case one </a> <br />