@model SimpleViewModel
Json Case Two

<br />
<form asp-action="JsonCaseTwo" asp-controller="Demo" id="demo-form">
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>
    <br />
    <button id="submit-button"> Submit </button>
</form>

<script src="lib/jquery/dist/jquery.min.js"></script>
<script>
    $("#submit-button")
        .click(function () {
            $.post("Demo/JsonCaseTwo", ("#demo-form").serialize())
                .done(function (response) {
                    alert("Response : ", response);
                });
        });
</script>