@model SimpleViewModel
View Case One
<br />
<form asp-action="ViewCaseOne" asp-controller="HandleWithView">
    <input asp-for="FirstName" />
    <span asp-validation-for="FirstName"></span>
    <br />
    <button type="submit"> Submit </button>
</form>